<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevin.emaspush.flutter_emas_push">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- 手机识别码权限，用于生成设备唯一id -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /><!-- 接收推送主要权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" /><!-- 获取近期运行任务，用于应用是否活跃的判断 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" /><!-- 获取近期运行任务，用于应用是否活跃的判断 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${emasPushAppKey}" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${emasPushAppSecret}" /> <!-- 请填写你自己的appSecret -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${huaweiAppId}" />
        <meta-data
            android:name="com.mi.push.app_id"
            android:value="${miAppId}" />
        <meta-data
            android:name="com.mi.push.app_key"
            android:value="${miAppKey}" />
        <meta-data
            android:name="com.oppo.push.app_key"
            android:value="${oppoAppKey}" />
        <meta-data
            android:name="com.oppo.push.app_secret"
            android:value="${oppoAppSecret}" />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${vivoAppKey}" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${vivoAppId}" />
        <meta-data
            android:name="com.meizu.push.app_id"
            android:value="${meizuAppId}" />
        <meta-data
            android:name="com.meizu.push.app_key"
            android:value="${meizuAppKey}" />
        <meta-data
            android:name="com.google.firebase.send_id"
            android:value="${sendId}" /> <meta-data
            android:name="com.google.firebase.application_id"
            android:value="${applicatinoId}" /> <meta-data
            android:name="com.google.firebase.project_id"
            android:value="${projectId}" /> <meta-data
            android:name="com.google.firebase.api_key"
            android:value="${apiKey}" />
        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
